/* Alert messages */
/* .error-message {
    color: red;
}

.alert {
    border: 0.2rem solid rgb(121, 53, 53);
    border-radius: 0.2rem;
    /* width: 100%; 
    margin: 2rem;
}

.alert-success {
    background-color: rgba(84, 132, 33, 0.8);
}

.alert-error {
    text-align: center;
    padding: 2rem;
    background-color: rgba(211, 27, 27, 0.5);
}

.btn-close {
    background-color: inherit;
    font-size: 1.8rem;
}

.alert-info {
    text-align: center;
    padding: 2rem;
    background-color: rgb(143, 143, 44);
} */
