section.customer-page-main {
    text-align: center;
}

.customer-page-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;

}

.customer-page-form form {
    border: 0.1rem solid black;
    border-radius: 0.5rem;
    /* background-color: rgba(109, 30, 30, 0.8); */
    background: linear-gradient(192deg, rgb(92 50 19 / 80%), transparent);
    padding: 2rem;
}

.customer-page-form form tr {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.customer-page-form form tr>* {
    flex-basis: 100%;
}

@media only screen and (min-width: 768px) {
    .customer-page-form form tr {
        flex-wrap: nowrap;
    }

    .customer-page-form {
        text-align: unset;
    }
}

