<!DOCTYPE html>
<html lang="en">

<head th:replace="fragments/head :: head_fragment('Perheille')">
</head>

<body  class="main-content">

    <header th:replace="fragments/header :: header-fragment">
    </header>
    <main >
        <section class="customer-page-main">
            <h1 class="customer-h1"><span>&#127876;</span>Tilaa Joulupukki aatoksi!<span>&#127876;</span></h1>
            <p class="ei-sisennys">Sivuiltamme voit varata joulupukin suoraan kotiisi haluamanasi ajankohtana. Pääset
                selailemaan palvelustamme löytyviä joulupukkeja kun olet kirjautuneena palvelussamme. Aloita rekisteröitymällä alla olevalla lomakkeella.</p><p>Mikäli olet jo rekisteröitynyt voit kirjautua suoraan palveluun <a class="links" th:href="@{/login-page}">täällä</a>.</p>
        </section>
        <section class="customer-page-main">
            <h2>Uusille käyttäjille</h2>
            <p class="ei-sisennys">Etkö ole aikaisemmin tilannut pukkia kauttamme?</p>
        </section>
        <!-- Display error when registering -->
        <div th:if="${usernameError}" class="alert alert-error"><span>
                <p th:text="${usernameError}"></p>
            </span>
            <button type="button" class="btn-close" onclick="closeElement()">X</button>
        </div>
        <section class="customer-page-form">
            <p></p>
            <div th:replace="fragments/forms :: register-account(heading='Rekisteröidy tilaajaksi', type='customer')">
            </div>
        </section>
    </main>
    <footer th:replace="fragments/footer :: footer-fragment">
    </footer>

</body>

</html>